.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
    padding: 17px 10px;
    text-align: left;
    display: flex;
    align-items: center;

}

.nav-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    width: 250px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 70px;
}

.nav-icon {
    max-width: 20px;
    color: #696969;
    margin-right: 20px;

}

.nav-link.active {
    background: #f3f3f3;
    color: #235A8F;
    font-weight: 700;
}

.nav-link.active .nav-icon {
    color: #235A8F;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.user-container {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-evenly;
}

.user-detail p {
    text-align: left;

}

.user-detail p:nth-child(1) {
    font-weight: 700;

}

.user-detail p:nth-child(2) {
    font-size: 10px;
    color: #696969;
}